pandas
numpy
scikit-learn
joblib
streamlit
python-dotenv
fastapi
uvicorn
pydantic
jinja2
python-multipart
plotly 
shap 
sqlalchemy
python-jose
passlib[bcrypt]
python-dotenv
shap 
psycopg2-binary
SQLAlchemy
gunicorn



